<h2>Show player</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @player.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @player.email %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @player.description %>
  </li>

</ul>

<%= link "Edit", to: player_path(@conn, :edit, @player) %>
<%= link "Back", to: player_path(@conn, :index) %>
