<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "kikr!" %></h2>
  <h3 class="lead">The table football<br />ranking system</h3>
  <h5>black coffee studios</h5>
  <h5>say <a href="">hello</a></h5>
</div>
